<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.2.6)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
# Write your code here
# Summarize the dataset by displaying the column data types, counts, and missing values from https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

import pandas as pd

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(url)

# Display data types
print("Column Data Types:")
print(df.dtypes)
print("\n")

# Display non-null counts
print("Non-Null Counts:")
print(df.info())
print("\n")

# Display missing values count
print("Missing Value Counts:")
print(df.isnull().sum())

Column Data Types:
ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object


Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
None


Missing Value Counts:
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [4]:
# Write your code here
# Generate basic statistics for numerical columns from https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

import pandas as pd

# Load the dataset
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(url)

# Select numerical columns and generate statistics
numerical_cols = df.select_dtypes(include=['number'])
basic_stats = numerical_cols.describe()

# Print the basic statistics
basic_stats

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [5]:
# Write your code here
# Identify inconsistent or irrelevant entries in specific columns (e.g., Country) from https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

import pandas as pd

# Load the dataset
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(url)

# Identify unique values in the 'Country' column
unique_countries = df['Country'].unique()
print("Unique countries in the dataset:")
print(unique_countries)

# You would then manually inspect the unique_countries list to identify inconsistencies
# (e.g., variations in spelling, abbreviations, or non-country entries).

# Example of how you might identify potential inconsistencies programmatically (less reliable without context)
# For instance, looking for values that are very short or very long could indicate issues
df['Country_length'] = df['Country'].str.len()
potential_inconsistencies = df[(df['Country_length'] < 3) | (df['Country_length'] > 50)]
print("\nEntries in 'Country' with potentially inconsistent lengths:")
print(potential_inconsistencies['Country'].unique())

# More advanced techniques could involve using external libraries for country name validation,
# but manual inspection of unique values is a common starting point.

Unique countries in the dataset:
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

Entries in 'Country' with potentially inconsistent lengths:
['United Kingdom of Great Britain and Northern Ireland']

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [6]:
## Write your code here
# Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format from https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv -O survey-data.csv
import pandas as pd
df = pd.read_csv('survey-data.csv')

# Define mappings for standardization (replace with your actual mappings)
country_mapping = {
    'United States': 'United States',
    'Germany': 'Germany',
    'Canada': 'Canada',
    # Add more mappings as needed
    'USA': 'United States',
    'Deutschland': 'Germany',
}

edlevel_mapping = {
    'Master’s degree': 'Master\'s Degree',
    'Bachelor’s degree': 'Bachelor\'s Degree',
    'Some college/university study without earning a degree': 'Some college/university study without earning a degree',
    # Add more mappings as needed
    'Masters degree': 'Master\'s Degree',
}

# Apply mappings
df['Country'] = df['Country'].replace(country_mapping)
df['EdLevel'] = df['EdLevel'].replace(edlevel_mapping)

# Display unique values after standardization to verify
print("Unique Countries after standardization:", df['Country'].unique())
print("Unique Education Levels after standardization:", df['EdLevel'].unique())

--2025-06-02 07:07:25--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
200 OKequest sent, awaiting response...
Length: 159525875 (152M) [text/csv]
Saving to: ‘survey-data.csv’

survey-data.csv     100%[===================>] 152.13M  60.2MB/s    in 2.5s

2025-06-02 07:07:27 (60.2 MB/s) - ‘survey-data.csv’ saved [159525875/159525875]

Unique Countries after standardization: ['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']
Unique Education Levels after standardization: ['Primary/elementary school'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university study without earning a degree'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [7]:
## Write your code here
# Encode the Employment column using one-hot encoding from https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

import pandas as pd

df = pd.read_csv('survey-data.csv')
df = pd.get_dummies(df, columns=['Employment'])
print(df.head())

--2025-06-02 07:09:47--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
200 OKequest sent, awaiting response...
Length: 159525875 (152M) [text/csv]
Saving to: ‘survey-data.csv.1’

survey-data.csv.1   100%[===================>] 152.13M  72.3MB/s    in 2.1s

2025-06-02 07:09:51 (72.3 MB/s) - ‘survey-data.csv.1’ saved [159525875/159525875]

   ResponseId                      MainBranch                 Age RemoteWork  \
0           1  I am a developer by profession  Under 18 years old     Remote
1           2  I am a developer by profession     35-44 years old     Remote
2           3  I am a developer by profession     45-54 years old     Remote
3           4           I am learning to code     18-24 years old        NaN
4           5  I am a developer by profession     18-24 years old        NaN

    Check                                   CodingActivities  \
0  Apples                                              Hobby
1  Apples  Hobby;Contribute to open-source projects;Other...
2  Apples  Hobby;Contribute to open-source projects;Other...
3  Apples                                                NaN
4  Apples                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  \
0                                                NaN
1  Technical documentation;Blogs;Books;Written Tu...
2  Technical documentation;Blogs;Books;Written Tu...
3  Stack Overflow;How-to videos;Interactive tutorial
4  Technical documentation;Blogs;Written Tutorial...

                                             TechDoc  ...  \
0                                                NaN  ...
1  API document(s) and/or SDK document(s);User gu...  ...
2  API document(s) and/or SDK document(s);User gu...  ...
3                                                NaN  ...
4  API document(s) and/or SDK document(s);User gu...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Retired  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

  Employment_Student, full-time;Student, part-time  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, part-time  \
0                         False
1                         False
2                         False
3                         False
4                         False

  Employment_Student, part-time;Employed, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

  Employment_Student, part-time;Retired
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 223 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [8]:
## Write your code here
# Identify columns with the highest number of missing values from https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

import pandas as pd

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(url)

missing_data = df.isnull()

for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

# Calculate the percentage of missing values for each column
missing_percentage = missing_data.sum() / len(df) * 100

# Sort the columns by the percentage of missing values in descending order
sorted_missing_percentage = missing_percentage.sort_values(ascending=False)

# Get the columns with the highest number of missing values
# For example, to get the top 5 columns with the most missing values:
top_missing_columns = sorted_missing_percentage.head(5)

print("Columns with the highest number of missing values:")
top_missing_columns

ResponseId
ResponseId
False    65437
Name: count, dtype: int64

MainBranch
MainBranch
False    65437
Name: count, dtype: int64

Age
Age
False    65437
Name: count, dtype: int64

Employment
Employment
False    65437
Name: count, dtype: int64

RemoteWork
RemoteWork
False    54806
True     10631
Name: count, dtype: int64

Check
Check
False    65437
Name: count, dtype: int64

CodingActivities
CodingActivities
False    54466
True     10971
Name: count, dtype: int64

EdLevel
EdLevel
False    60784
True      4653
Name: count, dtype: int64

LearnCode
LearnCode
False    60488
True      4949
Name: count, dtype: int64

LearnCodeOnline
LearnCodeOnline
False    49237
True     16200
Name: count, dtype: int64

TechDoc
TechDoc
False    40897
True     24540
Name: count, dtype: int64

YearsCode
YearsCode
False    59869
True      5568
Name: count, dtype: int64

YearsCodePro
YearsCodePro
False    51610
True     13827
Name: count, dtype: int64

DevType
DevType
False    59445
True      5992
Name: count, dtype: int64

OrgSize
OrgSize
False    47480
True     17957
Name: count, dtype: int64

PurchaseInfluence
PurchaseInfluence
False    47406
True     18031
Name: count, dtype: int64

BuyNewTool
BuyNewTool
False    45181
True     20256
Name: count, dtype: int64

BuildvsBuy
BuildvsBuy
False    43358
True     22079
Name: count, dtype: int64

TechEndorse
TechEndorse
False    43668
True     21769
Name: count, dtype: int64

Country
Country
False    58930
True      6507
Name: count, dtype: int64

Currency
Currency
False    46684
True     18753
Name: count, dtype: int64

CompTotal
CompTotal
False    33740
True     31697
Name: count, dtype: int64

LanguageHaveWorkedWith
LanguageHaveWorkedWith
False    59745
True      5692
Name: count, dtype: int64

LanguageWantToWorkWith
LanguageWantToWorkWith
False    55752
True      9685
Name: count, dtype: int64

LanguageAdmired
LanguageAdmired
False    50872
True     14565
Name: count, dtype: int64

DatabaseHaveWorkedWith
DatabaseHaveWorkedWith
False    50254
True     15183
Name: count, dtype: int64

DatabaseWantToWorkWith
DatabaseWantToWorkWith
False    42558
True     22879
Name: count, dtype: int64

DatabaseAdmired
DatabaseAdmired
False    38557
True     26880
Name: count, dtype: int64

PlatformHaveWorkedWith
PlatformHaveWorkedWith
False    42366
True     23071
Name: count, dtype: int64

PlatformWantToWorkWith
PlatformWantToWorkWith
False    34532
True     30905
Name: count, dtype: int64

PlatformAdmired
PlatformAdmired
True     34060
False    31377
Name: count, dtype: int64

WebframeHaveWorkedWith
WebframeHaveWorkedWith
False    45161
True     20276
Name: count, dtype: int64

WebframeWantToWorkWith
WebframeWantToWorkWith
False    38535
True     26902
Name: count, dtype: int64

WebframeAdmired
WebframeAdmired
False    34943
True     30494
Name: count, dtype: int64

EmbeddedHaveWorkedWith
EmbeddedHaveWorkedWith
True     43223
False    22214
Name: count, dtype: int64

EmbeddedWantToWorkWith
EmbeddedWantToWorkWith
True     47837
False    17600
Name: count, dtype: int64

EmbeddedAdmired
EmbeddedAdmired
True     48704
False    16733
Name: count, dtype: int64

MiscTechHaveWorkedWith
MiscTechHaveWorkedWith
False    39443
True     25994
Name: count, dtype: int64

MiscTechWantToWorkWith
MiscTechWantToWorkWith
False    32964
True     32473
Name: count, dtype: int64

MiscTechAdmired
MiscTechAdmired
True     35841
False    29596
Name: count, dtype: int64

ToolsTechHaveWorkedWith
ToolsTechHaveWorkedWith
False    52482
True     12955
Name: count, dtype: int64

ToolsTechWantToWorkWith
ToolsTechWantToWorkWith
False    46084
True     19353
Name: count, dtype: int64

ToolsTechAdmired
ToolsTechAdmired
False    43997
True     21440
Name: count, dtype: int64

NEWCollabToolsHaveWorkedWith
NEWCollabToolsHaveWorkedWith
False    57592
True      7845
Name: count, dtype: int64

NEWCollabToolsWantToWorkWith
NEWCollabToolsWantToWorkWith
False    52087
True     13350
Name: count, dtype: int64

NEWCollabToolsAdmired
NEWCollabToolsAdmired
False    50711
True     14726
Name: count, dtype: int64

OpSysPersonal use
OpSysPersonal use
False    58174
True      7263
Name: count, dtype: int64

OpSysProfessional use
OpSysProfessional use
False    52973
True     12464
Name: count, dtype: int64

OfficeStackAsyncHaveWorkedWith
OfficeStackAsyncHaveWorkedWith
False    48093
True     17344
Name: count, dtype: int64

OfficeStackAsyncWantToWorkWith
OfficeStackAsyncWantToWorkWith
False    38966
True     26471
Name: count, dtype: int64

OfficeStackAsyncAdmired
OfficeStackAsyncAdmired
False    37204
True     28233
Name: count, dtype: int64

OfficeStackSyncHaveWorkedWith
OfficeStackSyncHaveWorkedWith
False    55545
True      9892
Name: count, dtype: int64

OfficeStackSyncWantToWorkWith
OfficeStackSyncWantToWorkWith
False    46711
True     18726
Name: count, dtype: int64

OfficeStackSyncAdmired
OfficeStackSyncAdmired
False    44712
True     20725
Name: count, dtype: int64

AISearchDevHaveWorkedWith
AISearchDevHaveWorkedWith
False    44453
True     20984
Name: count, dtype: int64

AISearchDevWantToWorkWith
AISearchDevWantToWorkWith
False    36701
True     28736
Name: count, dtype: int64

AISearchDevAdmired
AISearchDevAdmired
False    35543
True     29894
Name: count, dtype: int64

NEWSOSites
NEWSOSites
False    60286
True      5151
Name: count, dtype: int64

SOVisitFreq
SOVisitFreq
False    59536
True      5901
Name: count, dtype: int64

SOAccount
SOAccount
False    59560
True      5877
Name: count, dtype: int64

SOPartFreq
SOPartFreq
False    45237
True     20200
Name: count, dtype: int64

SOHow
SOHow
False    58962
True      6475
Name: count, dtype: int64

SOComm
SOComm
False    59163
True      6274
Name: count, dtype: int64

AISelect
AISelect
False    60907
True      4530
Name: count, dtype: int64

AISent
AISent
False    45873
True     19564
Name: count, dtype: int64

AIBen
AIBen
False    36894
True     28543
Name: count, dtype: int64

AIAcc
AIAcc
False    37302
True     28135
Name: count, dtype: int64

AIComplex
AIComplex
False    37021
True     28416
Name: count, dtype: int64

AIToolCurrently Using
AIToolCurrently Using
False    35072
True     30365
Name: count, dtype: int64

AIToolInterested in Using
AIToolInterested in Using
True     34746
False    30691
Name: count, dtype: int64

AIToolNot interested in Using
AIToolNot interested in Using
True     41023
False    24414
Name: count, dtype: int64

AINextMuch more integrated
AINextMuch more integrated
True     51999
False    13438
Name: count, dtype: int64

AINextNo change
AINextNo change
True     52939
False    12498
Name: count, dtype: int64

AINextMore integrated
AINextMore integrated
True     41009
False    24428
Name: count, dtype: int64

AINextLess integrated
AINextLess integrated
True     63082
False     2355
Name: count, dtype: int64

AINextMuch less integrated
AINextMuch less integrated
True     64289
False     1148
Name: count, dtype: int64

AIThreat
AIThreat
False    44689
True     20748
Name: count, dtype: int64

AIEthics
AIEthics
False    41548
True     23889
Name: count, dtype: int64

AIChallenges
AIChallenges
False    37531
True     27906
Name: count, dtype: int64

TBranch
TBranch
False    44477
True     20960
Name: count, dtype: int64

ICorPM
ICorPM
True     35636
False    29801
Name: count, dtype: int64

WorkExp
WorkExp
True     35779
False    29658
Name: count, dtype: int64

Knowledge_1
Knowledge_1
True     36773
False    28664
Name: count, dtype: int64

Knowledge_2
Knowledge_2
True     37416
False    28021
Name: count, dtype: int64

Knowledge_3
Knowledge_3
True     37342
False    28095
Name: count, dtype: int64

Knowledge_4
Knowledge_4
True     37407
False    28030
Name: count, dtype: int64

Knowledge_5
Knowledge_5
True     37557
False    27880
Name: count, dtype: int64

Knowledge_6
Knowledge_6
True     37573
False    27864
Name: count, dtype: int64

Knowledge_7
Knowledge_7
True     37659
False    27778
Name: count, dtype: int64

Knowledge_8
Knowledge_8
True     37679
False    27758
Name: count, dtype: int64

Knowledge_9
Knowledge_9
True     37802
False    27635
Name: count, dtype: int64

Frequency_1
Frequency_1
True     37068
False    28369
Name: count, dtype: int64

Frequency_2
Frequency_2
True     37073
False    28364
Name: count, dtype: int64

Frequency_3
Frequency_3
True     37727
False    27710
Name: count, dtype: int64

TimeSearching
TimeSearching
True     36526
False    28911
Name: count, dtype: int64

TimeAnswering
TimeAnswering
True     36593
False    28844
Name: count, dtype: int64

Frustration
Frustration
True     37186
False    28251
Name: count, dtype: int64

ProfessionalTech
ProfessionalTech
True     37673
False    27764
Name: count, dtype: int64

ProfessionalCloud
ProfessionalCloud
True     36946
False    28491
Name: count, dtype: int64

ProfessionalQuestion
ProfessionalQuestion
True     36630
False    28807
Name: count, dtype: int64

Industry
Industry
True     36579
False    28858
Name: count, dtype: int64

JobSatPoints_1
JobSatPoints_1
True     36113
False    29324
Name: count, dtype: int64

JobSatPoints_4
JobSatPoints_4
True     36044
False    29393
Name: count, dtype: int64

JobSatPoints_5
JobSatPoints_5
True     36026
False    29411
Name: count, dtype: int64

JobSatPoints_6
JobSatPoints_6
True     35987
False    29450
Name: count, dtype: int64

JobSatPoints_7
JobSatPoints_7
True     35989
False    29448
Name: count, dtype: int64

JobSatPoints_8
JobSatPoints_8
True     35981
False    29456
Name: count, dtype: int64

JobSatPoints_9
JobSatPoints_9
True     35981
False    29456
Name: count, dtype: int64

JobSatPoints_10
JobSatPoints_10
True     35987
False    29450
Name: count, dtype: int64

JobSatPoints_11
JobSatPoints_11
True     35992
False    29445
Name: count, dtype: int64

SurveyLength
SurveyLength
False    56182
True      9255
Name: count, dtype: int64

SurveyEase
SurveyEase
False    56238
True      9199
Name: count, dtype: int64

ConvertedCompYearly
ConvertedCompYearly
True     42002
False    23435
Name: count, dtype: int64

JobSat
JobSat
True     36311
False    29126
Name: count, dtype: int64

Columns with the highest number of missing values:

AINextMuch less integrated    98.245641
AINextLess integrated         96.401119
AINextNo change               80.900714
AINextMuch more integrated    79.464217
EmbeddedAdmired               74.428840
dtype: float64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [9]:
## Write your code here
# Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median from https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv')

# Impute missing values in 'ConvertedCompYearly' with the mean
mean_convertedcomp = df['ConvertedCompYearly'].mean()
df['ConvertedCompYearly'].fillna(mean_convertedcomp, inplace=True)

# You could also use the median:
# median_convertedcomp = df['ConvertedCompYearly'].median()
# df['ConvertedCompYearly'].fillna(median_convertedcomp, inplace=True)

print("Missing values after imputation in 'ConvertedCompYearly':", df['ConvertedCompYearly'].isnull().sum())

Missing values after imputation in 'ConvertedCompYearly': 0

/tmp/ipykernel_3065/2661391397.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(mean_convertedcomp, inplace=True)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [12]:
## Write your code here
# Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value from https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv


df['JobSat'] = df['JobSat'].fillna(df['JobSat'].mode()[0])
print(df.isnull().sum())

ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork                 0
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                     0
Length: 114, dtype: int64

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [13]:
## Write your code here
# Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column from https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Load the dataset
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv')

# Drop rows with NaN values in the target column (optional, but recommended before scaling)
df.dropna(subset=['ConvertedCompYearly'], inplace=True)

# Select the column to scale
data_to_scale = df[['ConvertedCompYearly']]

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Apply Min-Max Scaling
df['ConvertedCompYearly_scaled'] = scaler.fit_transform(data_to_scale)

# Display the first few rows with the new scaled column
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_scaled']].head())

     ConvertedCompYearly  ConvertedCompYearly_scaled
72                7322.0                    0.000450
374              30074.0                    0.001850
379              91295.0                    0.005616
385              53703.0                    0.003303
389             110000.0                    0.006766

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [15]:
## Write your code here
# Log-transform the ConvertedCompYearly column to reduce skewness from https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

import pandas as pd
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv')
import numpy as np
df['ConvertedCompYearly_log'] = np.log1p(df['ConvertedCompYearly'])
print(df['ConvertedCompYearly_log'])

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
65432   NaN
65433   NaN
65434   NaN
65435   NaN
65436   NaN
Name: ConvertedCompYearly_log, Length: 65437, dtype: float64

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [23]:
## Write your code here
from IPython import get_ipython
from IPython.display import display
# %%
# prompt: Create a new column `ExperienceLevel` based on the `YearsCodePro` column from https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv

import pandas as pd

df = pd.read_csv('survey-data.csv')

# Convert 'YearsCodePro' to numeric, coercing errors to NaN
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')

# Define a function to categorize experience level
def categorize_experience(years):
    if pd.isna(years):
        return 'Unknown'
    elif years < 5:
        return 'Entry-level'
    elif 5 <= years < 15:
        return 'Mid-level'
    else:
        return 'Senior-level'

# Apply the function to create the new column
df['ExperienceLevel'] = df['YearsCodePro'].apply(categorize_experience)

# Display the first few rows with the new column
print(df[['YearsCodePro', 'ExperienceLevel']].head(20))

--2025-06-02 07:56:45--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
200 OKequest sent, awaiting response...
Length: 159525875 (152M) [text/csv]
Saving to: ‘survey-data.csv.6’

survey-data.csv.6   100%[===================>] 152.13M  65.9MB/s    in 2.3s

2025-06-02 07:56:50 (65.9 MB/s) - ‘survey-data.csv.6’ saved [159525875/159525875]

    YearsCodePro ExperienceLevel
0            NaN         Unknown
1           17.0    Senior-level
2           27.0    Senior-level
3            NaN         Unknown
4            NaN         Unknown
5            NaN         Unknown
6            7.0       Mid-level
7            NaN         Unknown
8            NaN         Unknown
9           11.0       Mid-level
10           NaN         Unknown
11          25.0    Senior-level
12          12.0       Mid-level
13           NaN         Unknown
14          10.0       Mid-level
15          27.0    Senior-level
16           NaN         Unknown
17           3.0     Entry-level
18          10.0       Mid-level
19          11.0       Mid-level

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.